
<!-- <form>
    <div class="center">     
            <label for="Name">Name:</label><br>
            <input type="text" id="Name" name="Name"><br>
            <label for="id">Emp ID:</label><br>
            <input type="text" id="id" name="ID"><br>
            <label for="Email Id">Email ID:</label><br>
            <input type="email" id="Email id" name="Email ID"><br>
            <label for="Mobile No">Mobile No</label><br>
            <input type="number" id="Mobile no" name="Mobile No"><br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
        

</form> -->
<mat-card id="card" style="text-align: center;background-color: bisque;">
    <mat-card-title>
        Please below enter the details
    </mat-card-title>

    <mat-card-content>

        <mat-form-field>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" placeholder="Enter Name">
        </mat-form-field><br/>

        <mat-form-field>
            <label for="Employee Id">Employee ID:</label>
            <input type="string" id="Employee ID" name="Employee ID" placeholder="Enter Employee ID">
        </mat-form-field><br/>

        <mat-form-field>
            <label for="Email Id">Email ID:</label>
            <input type="email" id="Email" name="Email" placeholder="Enter Email ID">
        </mat-form-field><br/>

        <mat-form-field>
            <label for="Mobile ">Mobile :</label>
            <input type="number" id="Mobile" name="Mobile" minlength="0" maxlength="10" placeholder="Enter Mobile no">
        </mat-form-field><br/>

        <button type="button"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Submit</button>


    </mat-card-content>

        <!-- <form class="m-5 p-5">
            <div class="mb-3 ">
              <label for="Name" class="form-label">Employee name</label>
              <input type="text" class="form-control " id="name" placeholder="Enter the name" aria-describedby="emailHelp" width="px">
              
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Employee ID </label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email ID </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mobile </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
                <!-- hello hell b rajesh-->
          </form>
        
        

        

    
  
  <!-- Modal
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="End-User Details" id="End-User">EndUser Details</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->